
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}
/*
fonts: 

 font-family: 'Cuprum', sans-serif;
 font-family: 'PT Sans', sans-serif;

*/


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px; 
  font-size: 17px;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #f3f7f8;
  font-family: "Cuprum", "Arial", sans-serif;
  padding-left: 130px;
  padding-right: 130px;
  height: 320px;
}

.header-middle-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 47px;
  height: 158px;
  align-items: center;
}

.site-header-top-navigation {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  height: 42px;
  background-color: #293449;
}

.site-header-top-navigation > a {
  display: block;
  color: white;
  font-size: 17px;
  line-height: 18px;
  width: 150px;
  height: 100%;
  text-align: center;
  padding: 11px 0;
}

.site-header-search {
  margin-left: 350px;
  width: 270px;
}

.site-header-search-input::placeholder {
 opacity: 1; /* for firefox */
 vertical-align: top;
}

.site-header-search-input {
  height: 100%;
  margin-left: 50px;
  background-color: #293449;
  border: none;
  color: white;
  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.top-navigation-bookmarks {

}

.top-navigation-cart {

}

.top-navigation-order {
  background-color: #63a63e;
}

.top-navigation-logo {
  display: block;
  position: absolute;
  left: 130px;
  top: 0px;
  z-index: 1;
 }

 h1 {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
  margin-left: 50px;
 }
 
 .site-header-info {
  display: flex;
  flex-direction: column;
  width: 270px;
 }

 .site-header-phone {
  display: block;
  width: 100%;
  min-height: 45px;
  padding-top: 10px;
  border: 3px solid white;
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
 }

 .site-header-info address {
  display: block;
  width: 100%;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  text-align: center;
 }

 .user-navigation {
  display: flex;
  flex-direction: row;
  height: 45px;
  margin-top: -21px;
 }

 .user-navigation a {
  color: black;
  font-size: 21px;
  line-height: 21px; 
  background-color: white;
  text-align: center;
  padding-top: 12px;
 }

 .user-navigation-login {
  display: block;
  width: 120px;
  height: 45px;
  padding-left: 15px;
 }

 .user-navigation-registration {
  display: block;
  width: 150px;
  height: 45px;
  margin-left: 10px;
 }

 .site-navigation {
  display: flex;
  flex-direction: row;
  width: 940px;
  min-height: 60px;
  justify-content: space-around;
  align-items: center;
 }

 .site-navigation li {
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

 .site-navigation a {
  display: block;
  background-color: #32425c;
  font-size: 17px;
  line-height: 17px;
  color: white;
  padding: 21px 34px;
 }

 /*---------------MAIN PART--------------------*/

 main {
  display: flex;
  flex-direction: column;
  width: 940px;
  margin: 60px 130px 53px 130px;
  font-family: "Cuprum", "Arial", sans-serif;
 }

 .menu {
  display: flex;
  flex-direction: row;
 }

 .menu-slider {
  outline: 3px dashed gray;
  display: block;
  width: 620px;
  height: 266px;
  margin-top: 143px;
 }

.menu ul {
  position: absolute;
  display: flex;
  width: 940px;
}

 .menu li {
  outline: 3px dashed gray;
  display: block;
  position: relative;
  height: 123px;
  width: 300px; 
 }

 .menu li:nth-of-type(4) {
  position: absolute;
  left: 640px;
  top: 143px;
 }

 .menu li:nth-of-type(2) {
  margin-left: 20px;
  margin-right: 20px;

}

 .menu li:nth-of-type(4) {
  position: absolute;
  left: 640px;
  top: 143px;
}

.menu li:nth-of-type(5) {
  position: absolute;
  left: 640px;
  top: 286px;
}

.popular-goods {
  display: flex;
  flex-direction: column;
  margin-top: 53px;
}

.popular-goods-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  min-height: 90px;
  padding: 0 30px;
  background-color: #f9f5f0;
}

.popular-goods-head > h2 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}

.popular-goods-all {
  display: block;
  width: 253px;
  height: 38px;
  background-color: #ee3643;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  border-radius: 1px;
}

.popular-goods > ol {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.popular-goods li {
  width: 220px;
  min-height: 318px;
  background-color: white;
  border: 1px solid #eaeaea;
}

.card {
  width: 100%;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.card img {
  width: 218px;
  height: 170px;
}

.card > h3 {
  padding: 12px 30px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;  
}




 