
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}
/*
fonts: 

 font-family: 'Cuprum', sans-serif;
 font-family: 'PT Sans', sans-serif;

*/


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px; 
}

body > * {
  outline: 4px dashed red;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #f3f7f8;
  font-family: "Cuprum", "Arial", sans-serif;
  padding-left: 130px;
  padding-right: 130px;
}

header > * {
  outline: 4px dashed purple;
}

.header-middle-row {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  margin-top: 47px;
}

.header-middle-row > * {
outline: 4px dashed greenyellow;
}

.site-header-top-navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  height: 42px;
  background-color: #293449;
}

.site-header-top-navigation > a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  line-height: 18px;
}

.top-navigation-search {
  margin-left: 350px;
  width: 270px;
}

.top-navigation-bookmarks {
  width: 150px;
}

.top-navigation-cart {
  width: 150px;
}

.top-navigation-order {
  width: 150px;
}

.top-navigation-logo {
  display: block;
  position: absolute;
  left: 130px;
  top: 0px;
  z-index: 1;
 }

 h1 {
   font-size: 16px;
   line-height: 23px;
   font-style: italic;
   color: #ee3643;
 }