
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.red-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  background-color: #ee3643;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: white;
}

.red-btn:hover {
  background-color: #ca2c37;
}

.red-btn:active {
  background-color: #ba2732;
}

.flag {
  position: absolute;
  z-index: 1;
}

.flag-new {
  top: 0px;
  right: 0px;
  width: 60px;
  height: 59px;
  background: url(../img/new-flag.png)
}
/*
fonts: 

 font-family: 'Cuprum', sans-serif;
 font-family: 'PT Sans', sans-serif;

*/


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  align-items: center;
  width: 100%;
  font-family: "Cuprum", "Arial", sans-serif;
}

body > * {
  position: relative;
  width: 100%;
}

.width-container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #f3f7f8;
  font-family: "Cuprum", "Arial", sans-serif;
  height: 320px;
}

.site-header-top-row {
  display: block;
  background-color: #293449;
  height: 42px;
  width: 100% ;
}

.header-middle-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 158px;
  align-items: center;
}

.site-header-top-navigation {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 42px;
}

.site-header-top-navigation > a {
  display: block;
  color: white;
  font-size: 17px;
  line-height: 18px;
  width: 150px;
  height: 100%;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 11px;
}

.site-header-search {
  margin-left: 220px;
  width: 270px;
  height: 100%;
  position: relative;
}

.site-header-search-input::placeholder {
  opacity: 1; /* for firefox */
  line-height: 18px;
}

.site-header-search-input {
  position: relative;
  width: 270px;
  height: 42px;
  margin-left: 0px;
  padding-bottom: 2px;
  background-color: #293449;
  border: none;
  padding-left: 48px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.site-header-search-input:hover {
  background: url(../img/svg/icon-search.svg) no-repeat 17px 12px;
  filter: opacity(1);
}

.site-header-search-input:focus {
  color: black;
  font-weight: bold;
  background: white url(../img/svg/icon-search-red.svg) no-repeat 17px 12px;
}

.site-header-search::before {
  position: absolute;
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  top: 12px;
  left: 17px;
  opacity: 0.3;
  background: url(../img/svg/icon-search.svg);
  z-index: 1;
}

.top-navigation-bookmarks {
  padding-left: 17px;
  position: relative;
  width: 150px;
}

.top-navigation-bookmarks::before {
  position: absolute;
  content: "";
  display: block;
  width: 14px;
  height: 16px;
  top: 12px;
  left: 17px;
  background: url(../img/svg/icon-bookmark.svg);
  opacity: 0.3;
}

.top-navigation-cart {
  position: relative;
  width: 150px;
  padding-left: 19px;
}

.top-navigation-cart::before {
  position: absolute;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  top: 12px;
  left: 18px;
  background: url(../img/svg/icon-cart.svg);
  opacity: 0.3;
}

.top-navigation-bookmarks:hover::before,
.top-navigation-cart:hover::before {
  opacity: 1;
}

.top-navigation-bookmarks:active,
.top-navigation-cart:active,
.top-navigation-bookmarks:active::before,
.top-navigation-cart:active::before {
  opacity: 0.6;
}

.top-navigation-order {
  background-color: #63a63e;
}

.top-navigation-order:hover {
  background-color: #5fbb2d;
}

.top-navigation-order:active {
  opacity: 0.5;
}

.top-navigation-logo {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.top-navigation-logo:hover {
  filter: brightness(80%);
}

.top-navigation-logo:active {
  filter: brightness(65%);
}

.header-middle-row > .width-container {
  justify-content: space-between;
}

.header-middle-row h1 {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: normal;
  color: #ee3643;
  margin-left: 52px;
  margin-top: 16px;
}
 
.site-header-info {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin-top: 13px;
  margin-left: 22px;
}

.site-header-phone {
  position: relative;
  display: block;
  width: 100%;
  min-height: 45px;
  padding-top: 9px;
  padding-left: 20px;
  border: 3px solid white;
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.site-header-phone::before {
  position: absolute;
  content: "";
  display: block;
  width: 19px;
  height: 19px;
  top: 10px;
  left: 12px;
  background: url(../img/svg/icon-phone.svg)
}

.site-header-info address {
  display: block;
  width: 100%;
  margin-top: 4px;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  text-align: center;
  font-weight: lighter;
}

.user-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 300px;
  height: 80px;
  margin-top: 13px;
}

.user-navigation > li {
  background-color: white;
  height: 45px;
}

.user-navigation > li:nth-of-type(1) {
  width: 121px;
  margin-right: 10px;
}

 .user-navigation > li:nth-of-type(2) {
  width: 150px;
}

.user-navigation a {
  color: black;
  font-size: 21px;
  line-height: 21px; 
  text-align: center;
  padding-top: 12px;
}

.user-navigation-login { 
  position: relative;
  display: block;
  width: 121px;
  height: 45px;
  padding-left: 22px;
}

 .user-navigation-login::before {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 17px;
  top: 14px;
  left: 14px;
  background: url(../img/svg/icon-login.svg);
}

.user-navigation-registration {
  display: block;
  width: 150px;
  height: 45px;
}

.user-navigation-loged {
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 300px;
  height: 80px;
  margin-top: 13px;
}

.user-navigation-loged div {
  display: flex;
  justify-content: space-between;
  width: 299px;
  height: 45px;
  align-items: center;
  background-color: white;
}

.username {
  position: relative;
  padding-left: 46px;
  width: 250px;
  font-size: 21px;
  line-height: 21px;
} 

.username::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 18px;
  left: 13px;
  background: url(../img/svg/icon-user.svg);
}

.deauthorisation {
  display: block;
  width: 20px;
  height: 17px;
  margin-right: 10px;
  overflow: hidden;
  text-indent: 50px;
  background: url(../img/svg/icon-logout.svg);
}

.user-navigation-login:hover::before, 
.username:hover::before,
.deauthorisation:hover {
  filter: brightness(30%);
}

.user-navigation-loged > a {
  position: relative;
  margin: 3px 17px 0px 17px;
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.user-navigation-login:hover,
.user-navigation-registration:hover,
.user-navigation-loged > a:hover {
  color: #ee3643;
}

.user-navigation-login:active,
.user-navigation-registration:active,
.user-navigation-loged > a:active,
.username:active {
  color: black;
  filter: opacity(0.3);
}

.user-navigation-login:active::before, 
.username:active::before,
.deauthorisation:active {
  filter: opacity(0.5);
}

.user-navigation-loged > a:nth-of-type(1)::after {
  position: absolute;
  display: block;
  content: "";
  width: 4px;
  height: 4px;
  right: -19px;
  top: 8px;
  background-color: #32425c;
  border-radius: 50%;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  width: 940px;
  height: 60px;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
  padding: 0px 20px; 
}

.site-navigation li {
  display: flex;
  flex-direction: column;
  height: 55px;
  background-color: #32425c;
}

.site-navigation a {
  padding: 20px 31px;
  display: block;
  font-size: 17px;
  line-height: 17px;
  color: white;
  width: 100%;
  height: 100%;
}

.site-navigation li:hover {
  background-color: #293449;
}

.site-navigation li:active {
  background-color: #1d2739;
}

.site-navigation a:active {
  opacity: 0.5;
}

 /*---------------MAIN PART--------------------*/

main {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: white;
}

main > .width-container:nth-child(1) {
   flex-direction: column;
   justify-content: flex-start;
}

.menu {
  display: flex;
  flex-direction: row;
  margin-top: 59px;
}

.menu-slider {
  display: block;
  position: relative;
  width: 620px;
  height: 266px;
  margin-top: 143px;
}

.menu-slide1,
.menu-slide2 {
  position: absolute;
  display: none;
  width: 620px;
  height: 266px;
  color: white;
}

.menu-slide1 > h3,
.menu-slide2 > h3 {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  margin-top: 22px;
  margin-left: 25px;
}

.menu-slide1 > p,
.menu-slide2 > p {
  font-size: 18px;
  line-height: 24px;
  margin-top: 2px;
  margin-left: 25px;
}



.menu-catalog {
  width: 195px;
  position: absolute;
  left: 25px;
  bottom: 22px;
  z-index: 1;
  padding-top: 2px;
  padding-left: 5px;
}

.menu-slider > input {
  position: absolute;
  bottom: 36px;
  z-index: 1;
}

.menu-slider > input:hover {
  cursor: pointer;
}

#menu-btn1 {
  left: 295px;
}

#menu-btn2 {
  left: 315px;
}

.menu-slider-controls > label {
  display: block;
  position: absolute;
  width: 22px;
  height: 40px;
}

.menu-slider-controls > label::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 36px;
  width: 10px;
  height: 10px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: white;
}

label[for="menu-btn1"]::after {
  left: 270px;
  top: 106px;
}

label[for="menu-btn2"]::after {
  right: 275px;
  top: 106px;
}

#menu-btn1:checked ~ .menu-slider-controls label[for="menu-btn1"]::after,
#menu-btn2:checked ~ .menu-slider-controls label[for="menu-btn2"]::after {
  background-color: #ee3643;
}

.menu-slider-controls > label:hover {
  cursor: pointer;
}

label[for="menu-btn1"] {
  left: 25px;
  top: 114px;
  background-image: url(../img/icon-left.png);
}

label[for="menu-btn2"] {
  right: 20px;
  top: 114px;
  background-image: url(../img/icon-right.png);
}

.menu-slide1 {
  background: gray url(../img/menu-slide1.jpg)
}

.menu-slide2 {
  background: gray url(../img/menu-slide2.jpg)
}

#menu-btn1:checked ~ .menu-sliderrr .menu-slide1,
#menu-btn2:checked ~ .menu-sliderrr .menu-slide2 {
  display: block;
}

.menu ul {
  position: absolute;
  display: flex;
  width: 940px;
}

.menu li {
  display: block;
  position: relative;
  height: 123px;
  width: 300px; 
}

.menu li:nth-of-type(1) {
  background: #ffbf47 url(../img/svg/icon-1.svg) no-repeat 213px 31px;
}

.menu li:nth-of-type(2) {
  margin-left: 20px;
  margin-right: 20px;
  background: #3bbce3 url(../img/svg/icon-2.svg) no-repeat 197px 33px;
}

.menu li:nth-of-type(3) {
  background: #dc91d8 url(../img/svg/icon-3.svg) no-repeat 191px 31px;
}

.menu li:nth-of-type(4) {
  position: absolute;
  left: 640px;
  top: 143px;
  background: #8ed78f url(../img/svg/icon-4.svg) no-repeat 196px 26px;
}

.menu li:nth-of-type(5) {
  position: absolute;
  left: 640px;
  top: 286px;
  background: #ffc047 url(../img/svg/icon-5.svg) no-repeat 191px 32px;
}

.menu-materials,
.menu-tools,
.menu-vehicle,
.menu-discounts,
.menu-delivery {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 38px;
  margin-top: 13px;
  margin-left: 23px;
  border-radius: 2px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  background-color: rgba(0, 0, 0, 0.1);
}

.menu span ~ a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.menu span ~ a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.menu span {
  display: block;
  margin-top: 20px;
  margin-left: 22px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: white;
}

.popular-goods {
  display: flex;
  flex-direction: column;
  margin-top: 53px;
}

.popular-goods-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  height: 89px;
  padding: 0 24px 1px 29px;
  background-color: #f9f5f0;
}

.popular-goods-head > h2 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #32425c;
}

.popular-goods-all {
  width: 253px;
  padding-top: 1px;
}

.popular-goods > ol {
  display: flex;
  justify-content: space-between;
}

.popular-goods li {
  width: 220px;
  height: 318px;
  background-color: white;
  margin-top: 20px;
}

.card {
  display: flex;
  border: 1px solid #eaeaea;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif; 
}

.card > .flag-new {
  top: -1px;
  right: -1px;
}

.card img {
  width: 218px;
  height: 170px;
}

.card > h3 {
  padding: 8px 30px 2px 30px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.popular-goods .card:hover {
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5)
}

.price {
  display: block;
  width: 123px;
  height: 38px;
  padding-top: 10px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
}

.old-price {
  color: #a9a9a9;
  text-decoration: line-through;
  padding-left: 2px;
}

.new-price {
  position: relative;
  margin-left: -10px;
  color: white;
  background-color: #ee3643;
  padding-left: 15px;
  border-radius: 2px;
}

.new-price::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 19px solid #ee3643;
  border-right-width: 0px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 2px;
  top: 0px;
  right: -18px;
}

.actions {
  display: none;
  position: absolute;
  width: 218px;
  height: 170px;
  background-color: white;
  font-family: "Cuprum", "Arial", sans-serif;
}

.card:hover > .actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actions a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 135px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.actions .open-cart {
  padding-top: 3px;
  height: 35px;
  background-color: #63a63e;
  border-radius: 2px;
  box-shadow: 0px 3px 0px 0px #367315;
  color: white;
}

.actions .open-cart::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 12px;
  background: url(../img/svg/icon-cart.svg);
  opacity: 0.3;
}

.actions .open-cart:hover {
  background-color: #5fbb2d;
}

.actions .open-cart:hover::before {
  opacity: 1;
}

.actions .open-cart:active {
  background-color: #518534;
  box-shadow: 0px 3px 0px 0px #518534; 
}

.actions .open-cart:active::before {
  opacity: 1;
}


.actions .bookmark {
  margin-top: 10px;
  height: 38px;
  background-color: transparent;
  border-radius: 2px;
  box-shadow: inset 0px 0px 0px 3px #367315;
  color: #32425c;
}

.actions .bookmark:hover {
  box-shadow: inset 0px 0px 0px 3px #32425c;
}

.actions .bookmark:active {
  opacity: 0.3;
}

.popular-producers {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.popular-producers-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  height: 90px;
  padding: 0 24px 0 29px;
  background-color: #f9f5f0;
}

.popular-producers-head > h2 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #32425c;
}

.popular-producers-all {
  width: 253px;
}

.popular-producers > ol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popular-producers li {
  width: 220px;
  height: 145px;
  background-color: white;
  border: 1px solid #eaeaea;
  margin-top: 20px;
}

.producers {
  display: flex;
  width: 100%;
  height: 100%;
}

.producers:hover {
  box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.5);
}

.producers:active {
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
}

.producers:active > img {
  opacity: 0.3;
}

.producers img {
  margin: 0 auto;
}

.producers img[alt="Производитель bosch"] {
  margin-top: 52px;
}

.producers img[alt="Производитель makita"] {
  margin-top: 49px;
}

.producers img[alt="Производитель dewalt"] {
  margin-top: 47px;
}

.producers img[alt="Производитель ИНТЕРСКОЛ"] {
  margin-top: 20px;
  margin-right: 10px
}

.producers img[alt="Производитель hitachi"] {
  margin-top: 57px;
  margin-right: 22px
}

.producers img[alt="Производитель LG"] {
  margin-top: 34px;
  margin-right: 50px;
}

.producers img[alt="Производитель AEG"] {
  margin-top: 22px;
  margin-right: 33px;
}

.producers img[alt="Производитель metabo"] {
  margin-top: 33px;
  margin-right: 5px;
}

.service-color {
  background-color: #f4f8f9;
  margin-top: 85px;
}

.services {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 522px;
  padding-top: 64px;
}

.services P {
  font-family: "PT Sans", "Arial", sans-serif;
}

.services-slider {
  position: relative;
  width: 940px;
}

.services-slides {
  position: absolute;
  margin-left: 320px;
  margin-top: 10px;
  display: none;
  width: 620px;
  height: 282px;
}

.services-heading {
  width: 560px;
  height: 161px;
  margin-left: -3px;
}

.services-heading > h2 {
  font-size: 30px;
  line-height:  30px;
  text-transform: uppercase;
  font-weight: normal;
}

.services-heading > p {
  padding-top: 26px;
  font-size: 13px;
  line-height:  24px;
}

.services-slides > h3 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: normal;
  color: #32425c;
}

.services-slides > p {
  font-size: 13px;
  line-height: 24px;
  margin-top: 25px;
}

.slide3 > a {
  display: flex;
  width: 195px;
  height: 38px;
  justify-content: center;
  align-items: center;
  margin-top: 34px;
  

}

.services-slider-controls {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin-top: 13px;
}

.services-slider-controls > label {
  display: block;
  width: 100%;
  height: 62px;
  background-color: #32425c;
  color: white;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  padding-left: 22px;
  padding-top: 14px;
  box-shadow: inset 0 1px 0 0 rgba(37, 53, 79, 1),
  inset 0 2px 0 0 rgba(62, 79, 105, 1);
  cursor: pointer;
}

.services-slider-controls > label:hover {
  background-color: #293449;
}

.services-slider-controls:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 280px;
  top: 196px;
  left: 230px;
  background: url("../img/services-shadow.png") no-repeat 0 0;
}

#services-btn1:checked ~ .services-slider .slide1,
#services-btn2:checked ~ .services-slider .slide2,
#services-btn3:checked ~ .services-slider .slide3 {
  display: block;
}

#services-btn1:checked ~ .services-slider-controls label[for="services-btn1"],
#services-btn2:checked ~ .services-slider-controls label[for="services-btn2"],
#services-btn3:checked ~ .services-slider-controls label[for="services-btn3"] {
  background-color: white;
  color: #32425c;
  box-shadow: none;
}

.slide1:after,
.slide2:after,
.slide3:after {
  content: "";
  position: absolute;
  right: 1px;
  bottom: -5px;
  background-repeat: no-repeat; 
}

.slide1:after {
  width: 468px;
  height: 261px;
  background-image: url(../img/services-delivery.png);
}

.slide2:after {
  width: 389px;
  height: 283px;
  background-image: url(../img/services-guarantee.png);
 }

.slide3:after {
  width: 465px;
  height: 285px;
  background-image: url(../img/services-credit.png);
}

.about-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 78px;
  padding-bottom: 90px;
}

.about {
  width: 535px;
  padding-right: 25px;
  height: 368px;
}

.contacts {
  width: 300px;
  height: 368px;
}

.about h2, 
.contacts h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 26px;
}

.about p,
.contacts p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-top: 24px;
}

.about-transport-partners {
  margin-top: 11px;
}

.about-transport-partners li {
  position: relative;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  padding: 10px 36px;
}
 
.about-transport-partners li::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  left: 0px;
  top: 20px;
}

.about > a {
  margin-top: 27px;
  width: 220px;
  padding-top: 2px;
  padding-left: 2px;
}

.contacts > .red-btn {
  margin-top: 36px;
  padding-top: 2px;
  padding-left: 5px;
}

.contacts-map {
  width: 300px;
  height: 158px;
  margin-top: 32px;
}

.contacts-map > img {
  width: 300px;
  height: 158px;
  margin-top: 32px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #32425c;
  color: white;
  font-size: 18px;
  line-height: 24px;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

footer .footer-bottom {
  background-color: #293449;
  display: flex;
  flex-direction: column;
}

.bottom > div {
  width: 360px;
  height: 193px;
}

.footer-contacts {
  margin-top: 21px;
  padding-left: 3px;
}

.footer-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  width: 580px;
  height: 149px;
}

.bottom-navigation,
.catalog-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-navigation li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-navigation li {
  margin-left: 59px;
  margin-top: 37px;
}

.catalog-navigation li {
  margin-left: 59px;
  margin-top: 4px;
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:active {
  opacity: 0.5;
}

.bottom-navigation a {
  color: #f1f5f7;
}

.catalog-navigation a {
  color: #ffd180;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
}

.footer-bottom > .width-container {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  height: 107px;
  align-items: center;
}

.footer-copyright {
  width: 360px;
  padding-left: 1px;
  padding-top: 2px;
}

.footer-bottom .footer-social {
  display: flex;
}

.footer-social {
  width: 131px;
  margin-left: 33px;
  margin-top: 4px;
}

.footer-social > li  {
  margin-right: 4px;
  border-radius: 50%;
  background-color: #212a3a;
}

.footer-social > li:hover {
  background-color: #ee3643;
}

.social{
  display: block;
  color: transparent;
  overflow: hidden;
  height: 41px;
  width: 41px;
}

.footer-social .vk {
  background: url(../img/svg/icon-vk.svg) no-repeat 50% 50%;
}

.footer-social .facebook {
  background: url(../img/svg/icon-fb.svg) no-repeat 50% 50%;
}

.footer-social .instagram {
  background: url(../img/svg/icon-insta.svg) no-repeat 50% 50%;
}

.footer-bottom .feedback,
.footer-bottom .developed {
  display: block;
  width: 150px;
  height: 35px;
  margin-top: 2px;
}

.footer-bottom .feedback {
  margin-left: 120px;
}

.footer-bottom .developed {
  padding-left: 39px;
}

.feedback > a,
.developed > a {
  color: #ffd180;
}

.feedback > a:hover,
.developed > a:hover {
  text-decoration: underline;
}

.feedback > a:active,
.developed > a:active {
  color: #ee3643;
}



/* ---------CATALOG.HTML--------- */

.breadcrumbs {
  display: flex;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs li {
  position: relative;
  display: flex;
  height: 59px;
  align-items: center;
}

.breadcrumbs li:not(:nth-of-type(1))::before {
  position: absolute;
  content: "";
  display: block;
  width: 8px;
  height: 12px;
  left: -24px;
  background: url(../img/svg/icon-right-small.svg);
}

.breadcrumbs a {
  display: block;
  margin-right: 41px;
}

.breadcrumbs-main {
  width: 14px;
  height: 12px;
  background: url(../img/svg/icon-home.svg);
  overflow: hidden;
  text-indent: 50px;
}

.catalog-h1 {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  height: 89px;
  padding: 30px 28px;
  background-color: #f2f6f8;
}

.catalog-basis {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.catalog-filter {
  width: 220px;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
}

.catalog-filter h2 {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  width: 220px;
  height: 38px;
  background-color: #f7f3ec;
  border-radius: 2px;
  padding: 10px 18px;
  margin-bottom: 20px;
}

.catalog-filter fieldset {
  position: relative;
}

.catalog-filter legend {
  position: absolute;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  left: 0;
  top: -9px;
}

.price-fieldset {
  width: 220px;
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
  padding-top: 35px;
  padding-bottom: 25px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

/*---------STRUGGLE WITH RANGE INPUT---------*/

.price-fieldset input[type="range"] {
  display: block;
  background-color: #f7f3ec;
  border-radius: 2px;
  width: 100%;
  height: 80px;
  padding: 20px;
  border-radius: 3px;
  appearance: none;
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  background: #f7f3ec; /* Otherwise white in Chrome */
}

.price-fieldset input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.price-fieldset input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

.price-fieldset input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: url(../img/filter-range-thumb.png);
  cursor: pointer;
  margin-top: -9px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 0px 2px 1px #e0ddd8; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
.price-fieldset input[type=range]::-moz-range-thumb {
  box-shadow: 0px 2px 1px #e0ddd8;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: url(../img/filter-range-thumb.png);
  cursor: pointer;
}

 /* All the same stuff for IE */
 .price-fieldset input[type=range]::-ms-thumb {
  box-shadow: 0px 2px 1px #e0ddd8;
  border: none;;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: url(../img/filter-range-thumb.png);;
  cursor: pointer;
}

.price-fieldset input[type=range]::-webkit-slider-runnable-track {
  width: 180px;
  height: 2px;
  cursor: pointer;
  box-shadow: none;
  background: #d7dcde;
}

.price-fieldset input[type=range]:focus::-webkit-slider-runnable-track {
  background: #a7acae;
}

.price-fieldset input[type=range]::-moz-range-track {
  width: 180px;
  height: 2px;
  cursor: pointer;
  background: #d7dcde;
}

.price-fieldset input[type=range]::-moz-range-progress {
  background: #00ca74;
}

.price-fieldset input[type=range]::-ms-track {
  width: 180px;
  height: 2px;
  background: #d7dcde;
  cursor: pointer;
}
.price-fieldset input[type=range]::-ms-fill-lower {
  background: #00ca74;
  border: 0.2px solid #00ca74;
}
.price-fieldset input[type=range]:focus::-ms-fill-lower {
  background: #00aa54;
}



/*---------FINISH OF THE STRUGGLE WITH RANGE INPUT---------*/

.price-fieldset .range-outputs {
  width: 220px;
  height: 38px;
  display: flex;
  margin-top: 9px;
  justify-content: space-between;
}

.price-fieldset output {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 38px;
  background-color: #f7f3ec;
  border-radius: 2px;
  font-size: 17px;
  line-height: 18px;
}

.price-fieldset output[name="priceOutput"] {
  position: relative;
}

.price-fieldset output[name="priceOutput"]::before {
  position: absolute;
  content: "";
  display: block;
  width: 9px;
  height: 1px;
  background: #000000;
  left: -19px;
}

.producers-fieldset {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 25px;
  padding-top: 35px;
  padding-bottom: 22px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.producers-fieldset label {
  position: relative;
  font-size: 15px;
  line-height: 20px;
  padding-left: 34px;
}

.producers-fieldset label:not(:last-of-type) {
  margin-bottom: 20px;
}

.producers-fieldset .checkmark {
  position: absolute;
  width: 27px;
  height: 23px;
  left: 0px;
  top: -2px;
  background: url(../img/svg/checkbox-off.svg) no-repeat;
}

.producers-fieldset input:checked + .checkmark {
  background: url(../img/svg/checkbox-on.svg) no-repeat;
}


.catalog-filter .checkmark:hover {
  filter: contrast(50%);
}

.catalog-filter input[type="checkbox"]:disabled + .checkmark {
  opacity: 0.4;
}

.powersupply-fieldset {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  padding-top: 35px;
  border: none;
}

.powersupply-fieldset label {
  position: relative;
  font-size: 15px;
  line-height: 20px;
  padding-left: 34px;
  margin-bottom: 20px;
}

.powersupply-fieldset .checkmark {
  position: absolute;
  width: 25px;
  height: 25px;
  left: -1px;
  top: -2px;
  background: url(../img/svg/radio-off.svg) no-repeat;
}

.powersupply-fieldset input:checked + .checkmark {
  background: url(../img/svg/radio-on.svg) no-repeat;
}

.catalog-filter input[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 59px;
  width: 140px;
  height: 38px;
  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-basis-right {
  width: 700px;
}

.catalog-sorting {
  display: flex;
  justify-content: space-between;
  width: 700px;
  height: 38px;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
  border-radius: 2px;
  padding: 0 18px;
}

.catalog-sorting h2 {
  width: 218px;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  align-self: center;
}

.catalog-sorting ul {
  display: flex;
  align-items: center;
}

.catalog-sorting button {
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
}

.type-sorting button {
  border-bottom: 1px dotted #ee3643;
}

.sorting button {
  opacity: 0.3;
}

.catalog-sorting button:hover {
  cursor: pointer;
  opacity: 1;
}

.type-sorting button:hover {
  border-bottom: 1px solid #ee3643;
}

.type-sorting .btn-active {
  color: #ee3643;
}

.sorting-up.btn-active {
  background: url(../img/svg/icon-up-dir-red.svg);
  opacity: 1;
}

.sorting-down.btn-active {
  background: url(../img/svg/icon-down-dir-red.svg);
  opacity: 1;
}

.type-sorting {
  width: 355px;
  justify-content: space-between;
}

.sorting {
  justify-content: space-between;
  width: 43px;
  height: 38px;
  margin-left: 45px;
}

.sorting-up,
.sorting-down {
  width: 11px;
  height: 10px;
  margin-bottom: 5px;
}

.sorting-up {
  background: url(../img/svg/icon-up-dir.svg);
}

.sorting-down {
  background: url(../img/svg/icon-down-dir.svg);
}

.goods-list ul {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
}

.goods-list li {
  width: 220px;
  height: 318px;
  margin-top: 20px;
}

.goods-list li:not(:nth-of-type(3n)) {
  margin-right: 20px;
}

.page-buttons {
  margin-top: 52px;
}

.page-buttons ul {
  display: flex;
}

.page-buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  margin-right: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.page-buttons a:not([class="current-page"]):hover {
  border-color: #bdc6ca;
  color: #000000;
}

.page-buttons a:not([class="current-page"]):active {
  border-color: #ee3643;
  color: #000000;
}

.page-buttons .current-page {
  background-color: #ee3643;
  border-color: #ee3643;
  color: white;
}

.page-buttons .next-page {
  width: 140px;
}

.main-catalog {
  padding-bottom: 60px;
}

.group-comments {
  background: #f2f6f8;
  padding-top: 65px;
  padding-bottom: 69px;
}

.group-comments > .width-container {
  flex-direction: column;
}

.group-comments h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.group-comments p {
  margin-top: 25px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/* ---------------MODALS--------------- */

.modal {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  display: flex;
}

.write-us {
  display: none; /* flex | none*/
  transform: translate(-310px, -215px);
  width: 620px;
  height: 430px;
  padding: 0 80px;
  background-image: linear-gradient(#ffffff 318px, #f4f4f4 318px, #f4f4f4); 
  border-top: 7px solid #ff5357;
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.75);
}

.write-us form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.write-us label {
  width: 220px;
  font-size: 18px;
  line-height: 18px;
}

.write-us label:last-of-type {
  width: 460px;
}

.write-us label:nth-of-type(1) {
  margin-right: 20px;
  margin-top: 55px;
  height: 65px;
}

.write-us label:nth-of-type(2) {
  margin-top: 55px;
  height: 65px;
}

.write-us label:nth-of-type(3) {
  height: 145px;
}

.write-us textarea {
  width: 460px;
  height: 114px;
  resize: none;
  border: 2px solid #dee3e4;
  border-radius: 2px;
  padding: 12px;
}

.write-us input[type="text"],
.write-us input[type="e-mail"],
.write-us textarea {
  display: block;
  margin-top: 13px;
  border: 2px solid #dee3e4;
  border-radius: 2px;
  color: #a9a9a9;
  font-family: "PT Sans", "Arial", non-serif;
  font-size: 13px;
  line-height: 18px;
}

.write-us input[type="text"],
.write-us input[type="e-mail"] {
  width: 220px;
  height: 38px;
  padding: 13px 17px 15px;
}

.write-us-submit.red-btn {
  align-self: flex-end;
  margin-bottom: 37px;
  width: 460px;
  font-family: "PT Sans", "Arial", non-serif;
  border: none;
  border-radius: 5px / 2px;
}

.write-us-close {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 9px;
  right: 9px;
  background: transparent url(../img/svg/icon-close.svg);
  border: none;
}

.write-us-close:hover,
.map-close:hover,
.cart-add-close:hover {
  cursor: pointer;
  filter: saturate(150%);
}

.map {
  display: none; /* fixed | none*/
  transform: translate(-470px, -225px);
  width: 940px;
  height: 450px;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.75);
}

.map-close {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 65px;
  right: 12px;
  background: transparent url(../img/svg/icon-close.svg);
  border: none;
}

.cart-add {
  display: none;
  width: 620px;
  height: 282px;
  flex-wrap: wrap;
  transform: translate(-310px, -141px);
  background-image: linear-gradient(#ffffff 170px, #f4f4f4 170px, #f1f1f1); 
  border-top: 7px solid #ee3643;
  padding: 75px 80px 37px 80px;
  padding-top: 75px;
  padding-bottom: 37px;
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.75);
}

.cart-add p {
  width: 100%;
  position: relative;
  padding-left: 98px;
  font-size: 30px;
  line-height: 30px;
}

.cart-add p::before {
  position: absolute;
  content: "";
  width: 66px;
  height: 66px;
  left: 2px;
  top: -18px;
  background: #63a63e;
  border-radius: 50%;
}

.cart-add p::after {
  position: absolute;
  content: "";
  width: 35px;
  height: 20px;
  left: 20px;
  top: 2px;
  background: #transparent;
  border: 7px solid #ffffff;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}

.cart-add a {
  width: 220px;
  height: 38px;
  text-transform: uppercase;
  align-self: flex-end;
}

.cart-add-continue {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  color: #000000;
  background: #ffffff;
  border-radius: 2px;


}

.cart-add-close {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 9px;
  right: 9px;
  background: transparent url(../img/svg/icon-close.svg);
  border: none;
}

.modal-show {
  display: flex;
}

.make-red {
  background-color: #ee3643;
}

.login-show {
  display: flex;
}

.login-hide {
  display: none;
}